<a href="https://colab.research.google.com/github/bittss16/DataProgramming_ProblemSet1/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
*Question 1*
---
What data type is each of the following (evaluate where necessary)?


*   5 = Integer
* 5.0 = Float
* 5 > 1 = Boolean
* '5' = String
* 5 * 2 = Integer
* '5' * 2 = String
* '5' + '2' = String
* 5 / 2 = Float
* 5 % 2 = Integer
* {5, 2, 1} = Set
* 5 == 3 = Boolean
* Pi (the number) = Float

**QUESTION 2**

In [21]:
word = 'Supercalifragilisticexpialidocious'

In [22]:
#2(a)

print("length of word :",len(word))

length of word : 34

In [23]:
#2(b)

substring = 'ice'
contains_substring = substring in word
print("substring: ",contains_substring)

substring:  True

In [24]:
#2(c)

words = ["Supercalifragilisticexpialidocious", "Honorificabilitudinitatibus", "Bababadalgharaghtakamminarronnkonn"]
longest_word = max(words, key = len)
print("Longest word is : ",longest_word)

Longest word is :  Supercalifragilisticexpialidocious

In [25]:
#2(d)

composers = ['Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
print("MIN:",min(composers))
print("MAX:",max(composers))

MIN: Bartok
MAX: Buxtehude

**QUESTION 3**

In [26]:
import math
a = int(input("Enter a :"))
b = int(input("Enter b :"))
c = int(input("Enter c :"))

def triangle_area(a, b, c):
    s = (a + b + c) / 2
    area = math.sqrt(s * (s - a) * (s - b) * (s - c))
    return area

# Test the function
print("Area of triangle is :",triangle_area(a, b, c))

Enter a :2
Enter b :2
Enter c :2
Area of triangle is : 1.7320508075688772

**QUESTION 4**

In [27]:
def separateOddEven(numbers):
    odd = []
    even = []
    for num in numbers:
        if num % 2 == 0:
            even.append(num)
        else:
            odd.append(num)
    return odd, even

num_elements = int(input("Input the number of elements to be stored in the array: "))

elements = []
for i in range(num_elements):
    element = int(input(f"Element - {i} : "))
    elements.append(element)

odd_numbers, even_numbers = separateOddEven(elements)

print("Odd numbers:", odd_numbers)
print("Even numbers:", even_numbers)

Input the number of elements to be stored in the array: 5
Element - 0 : 1
Element - 1 : 2
Element - 2 : 3
Element - 3 : 5
Element - 4 : 6
Odd numbers: [1, 3, 5]
Even numbers: [2, 6]

**QUESTION 5**

In [28]:
#5(A)
def inside(x, y, x1, y1, x2, y2):
    if x >= x1 and x <= x2 and y >= y1 and y <= y2:
        return True
    else:
        return False

print(inside(1, 1, 0, 0, 2, 3))
print(inside(-1, -1, 0, 0, 2, 3))

#5(B)

result = inside(1, 1, 0.3, 0.5, 1.1, 0.7) and inside(1, 1, 0.5, 0.2, 1.1, 2)
print(result)

True
False
False

**QUESTION 6**

In [29]:
def pig(word):
    vowels = ['a', 'e', 'i', 'o', 'u']
    word = word.lower()  # Convert the word to lowercase

    if word[0] in vowels:
        return word + 'way'
    else:
        return word[1:] + word[0] + 'ay'

print(pig('barrie'))
print(pig('etobicoke'))

arriebay
etobicokeway

**QUESTION 7**

In [37]:
def bldcount(fname):
    blood_counts = {'A': 0, 'B': 0, 'AB': 0, 'O': 0, 'OO': 0}

    try:
        with open('bloodtype1.csv', 'r') as file:
            for line in file:
                blood_type = line.strip()
                if blood_type in blood_counts:
                    blood_counts[blood_type] += 1
    except FileNotFoundError:
        print("File not found.")
        return

    for blood_type, count in blood_counts.items():
        if count == 1:
            print("There is one patient of blood type", blood_type + ".")
        else:
            print("There are", count, "patients of blood type", blood_type + ".")

bldcount('bloodtype1.csv')

File not found.

**QUESTION 8**

In [49]:
def curconv(currency, amount):
  conversion_rates = {
        'JPY': 0.01241401,
        'INR': 0.0177643,
        'CHF': 1.0237414,
        'CNY': 0.1550176,
        'DKK': 0.1651442,
        'EUR': 1.2296544,
        'GBP':1.5550989,
        'HKD':0.1270207,
        'MXN':0.0751848,
        'MYR':0.3145411,
        'NOK':0.1677063,
        'NZD':0.8003591,
        'PHP':0.0233234,
        'SEK':0.148269,
        'SGD':0.788871,
        'THB':0.0313789 }

  if currency in conversion_rates:
        usd_amount = amount * conversion_rates[currency]
        return usd_amount

  else:
        print("Conversion rate for", currency, "is not available.")
        return None

curconv('GBP',500)

777.54945

**Question 9**

In [54]:
z = 6 + 'a'
print(z)

TypeError: ignored

In [53]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
item = list[12]
print(item)

IndexError: ignored

In [55]:
import math

find = math.sqrt(-1.0)
print(find)

ValueError: ignored

In [56]:
print(x)

NameError: ignored

In [57]:
file = open('try.txt', 'r')
file.read()

FileNotFoundError: ignored

**Question 10**

In [51]:
def frequencies(text):
    letters = 'abcdefghijklmnopqrstuvwxyz'
    counts = [0] * 26  # Initialize a list of 26 zeros, one for each letter

    for char in text:
        if char.lower() in letters:
            index = letters.index(char.lower())
            counts[index] += 1

    return counts

text = "I am Yash Jain , and this is my data programming assignment"
frequencies(text)

[8, 0, 0, 2, 1, 0, 3, 2, 6, 1, 0, 0, 5, 5, 1, 1, 0, 2, 5, 3, 0, 0, 0, 0, 2, 0]